.btn {
  @extend .font-size-normal;
  @extend .font-smoothed;

  font-family: $font-normal;

  display: inline-block;
  padding: 12px 20px;

  background: $color-gray;
  color: $font-color-dark;

  border: none;
  border-radius: $border-radius;
  box-sizing: border-box;

  transition: background-color 300ms ease;

  @extend .hide-link-underline;
}

.btn:hover {
  background: $color-gray-dark;
}

.btn-primary {
  background: $color-primary;
  color: $font-color-light;
}

.btn-primary:hover {
  background: $color-primary-dark;
}

.btn-accent {
  background: $color-accent;
  color: $font-color-light;
}

.btn-accent:hover {
  background: $color-accent-dark;
}

.btn-bold {
  @extend .font-weight-bold;
}

.btn-serif {
  @extend .font-serif;
}
