@mixin skill-bar($bar-color, $darkText: false) {
  width: 100%;
  position: relative;

  .skill-bar-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 3.5rem;
    border-radius: $border-radius;
    background: darken($bar-color, 10%);
    box-shadow: 0 0.2rem 0px 0 rgba(0,0,0,0.2);
  }

  .skill-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 3.5rem;
    border-radius: $border-radius;
    background: $bar-color;
    padding-top: 0.75rem;
    padding-right: 10px;
    box-sizing: border-box;

    line-height: 1;

    margin-bottom: 20px;
    z-index: 2;

    .skill-bar-label {
      position: absolute;
      font-size: 2.0rem;
      left: 10px;

      @if $darkText {
        color: darken($bar-color, 40%);
      } @else {
        color: lighten($bar-color, 40%);
      }
    }

    .skill-bar-value {
      display: inline-block;
      width: 100%;
      font-size: 2.0rem;
      text-align: right;
      font-weight: $font-weight-bold;

      @if $darkText {
        color: darken($bar-color, 20%);
      } @else {
        color: lighten($bar-color, 20%);
      }
    }
  }
}

.skill-bar-blue {
  @include skill-bar($color-accent);
}

.skill-bar-primary {
  @include skill-bar($color-primary);
}

.skill-bar-accent {
  @include skill-bar($color-blue);
}

.skill-bar-yellow {
  @include skill-bar($color-yellow, true);
}

.skill-bar-wrapper {
  @include skill-bar($color-blue);
}
