.slider {
  @extend .margin-center;

  position: relative;
  width: 75%;

  overflow: hidden;
}

.slider-slides {
  display: block;
  width: 200%; // count of slides * 100%
  margin-left: 0px; // Move slides left/right

  // transition: margin-left 1.5s ease-in-out;
  // will-change: margin-left;
  // will-change: opacity;
}

.slider-slide {
  display: inline-block;
  width: 50%;
  float: left;
  opacity: 0;

  transition: opacity .7s ease;
  will-change: opacity;
}

.slider-slide::after {
  content: " ";
  clear: both;
  position: relative;
}

.slider-slide img {
  width: 100%;
}

.slider-action {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  padding-top: 8px;
  box-sizing: border-box;

  background: transparentize($color-gray, 0.7);
  border-radius: $border-radius;

  font-size: 15px;
  font-family: $font-monospace;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity 300ms ease;
  will-change: opacity;
  z-index: 2;
  opacity: 0.3;
}

.slider-action:hover {
  opacity: 0.7;
}

.slider-action-next {
  right: 10px;
}

.slider-action-prev {
  left: 10px;
}
