table {
  border-collapse: separate;
  border-spacing: 20px;
}

tr::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
}

th {
  @extend .font-weight-bold;
}

th, td {
  @extend p;
}
