//
//  Font Helper Classes
//

// Font Family
.font-serif {
  font-family: $font-serif !important;
}

.font-sans-serif {
  font-family: $font-normal !important;
}

.font-monospace {
  font-family: $font-monospace !important;
}


// Font Weight
.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-regular {
  font-weight: $font-weight-regular;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-style-normal {
  font-style: normal;
}

.font-style-italic {
  font-style: italic;
}

.font-style-oblique {
  font-style: oblique;
}

// Font Color
.font-color-light {
  color: $font-color-light;
}

.font-color-dark {
  color: $font-color-dark;
}

.font-color-gray {
  color: $color-gray;
}


// Font Size
.font-size-extreme {
  font-size: 5.5rem;
}

.font-size-huge {
  font-size: 3.5rem;
}

.font-size-big {
  font-size: 2.5rem;
}

.font-size-medium {
  font-size: 2.2rem;
}

.font-size-normal {
  font-size: 1.9rem;
}

.font-size-small {
  font-size: 1.5rem;
}

// Font Alternations
.font-smoothed {
  -webkit-font-smoothing: antialiased;
}

.font-shadow {
  text-shadow: 0 2px 0 $font-color-shadow-faded;
}

.font-shadow-set {
  text-shadow: 0 2px 0 $font-color-shadow-set;
}




h1 {
  @extend .text-center;
  @extend .font-serif;
  @extend .font-smoothed;
  @extend .font-weight-regular;
  @extend .font-shadow-set;

  font-size: 7.2rem;
  color: inherit;
}

h2 {
  @extend .font-serif;
  @extend .font-smoothed;
  @extend .font-weight-regular;
  @extend .font-shadow;
  @extend .text-center;

  font-size: 3.4rem;
  color: inherit;
}

h3 {
  @extend .font-serif;
  @extend .font-smoothed;
  @extend .font-weight-regular;
  @extend .font-shadow;

  font-size: 3.0rem;
  color: inherit;
}

h4 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

h5 {
  @extend h4;
  color: darken($color-gray, 40%);
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.9rem;
  font-weight: $font-weight-light;
  line-height: 1.8;
}

a {
  position: relative;
  color: $color-accent;
  text-decoration: none;

  &::after {
    content: " ";

    opacity: 0;
    transform: translateY(5px);
    transition: opacity 200ms ease, transform 100ms ease;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: $color-gray;
  }

  &:hover::after {
    opacity: 0.4;
    transform: translateY(0px);
  }
}

.section:not(.section-accent):not(.section-accent-dark):not(.section-primary):not(.section-primary-dark) a:not(.btn)::after {
  background: darken($color-gray, 30%);
}

.section-accent a:not(.btn) {
  color: $font-color-light;
}

.section-accent-dark a:not(.btn) {
  color: $font-color-light;
}

//
// CUSTOM (in here for now)
//
.nav-title {
  font-size: 2.4rem;
  font-weight: $font-weight-bold;
  color: $font-color-light;
  cursor: pointer;
  line-height: 2;
}

.nav-list {
  float: right;
  line-height: 2;
}

.nav-list li {
  display: inline-block;
  margin-right: 50px;

  font-size: 1.5rem;
  color: $font-color-light;

  &:last-of-type {
    margin-right: 0px;
  }
}

.nav-list li a {
  color: $font-color-light;

  &::after {
    background: $font-color-light;
  }
}

.header-title {
  @extend .margin-top-big;
}

.header-subtitle {
  @extend .text-center;
  @extend .font-monospace;
  @extend .font-size-big;
  @extend .font-shadow-set;
  @extend .margin-bottom-huge;

  font-size: 3.5rem;
}
