$color-white: #FFF;
$color-gray: rgba(238,238,238,1);
$color-gray-dark: darken($color-gray, 0.2);
$color-blue: rgba(59,155,218,1);
$color-dark-blue: rgba(51,55,69,1);
$color-pink: rgba(236,56,77,1);
$color-pink-dark: #d53346;
$color-yellow: #efd336;
$color-yellow-dark: darken($color-yellow, 10%);

$color-primary: $color-dark-blue;
$color-primary-dark: darken($color-primary, 4%);
$color-accent: $color-pink;
$color-accent-dark: $color-pink-dark;

$page-background-color: $color-white;

$work-item-bg-color: $color-gray;

$lato-replacement: 'Sana', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
$font-normal: 'Lato', $lato-replacement;
$font-serif: 'Sofia', cursive; // Lato as fallback so it still looks good.
$font-monospace: 'PT Mono', monospace;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-height: 1.5;

$font-color-light: $color-white;
$font-color-dark: $color-primary;
$font-color-shadow-faded: rgba(0,0,0,0.26);
$font-color-shadow-set: rgba(183,183,183,1);

// Media Breakpoints
$breakpoint-small: 540px; // 540px
$breakpoint-med: 720px; // 720px
$breakpoint-large: 960px; // 960px

// Grid
$width: 96%;
$gutter: 4%;

$border-radius: 5px;
$border-radius-large: 20px;
