.work-item {
  display: block;
  position: relative;
  padding-top: 50px;
  margin-bottom: 20px;
}

.work-items {
  @media (max-width: $breakpoint-med) {

    .col-4:nth-of-type(-n+3) {
      display: block;
    }

    .col-4:nth-of-type(n+4) {
      display: none;
    }

    &.work-expanded {
      .col-4:nth-child(n+4) {
        display: block;
      }

      .work-view-more {
        display: none !important;
      }
    }

    .work-view-more {
      display: block !important;
    }
  }
}

.work-item-container {
  display: block;
  background: $work-item-bg-color;
  width: 100%;
  border-radius: $border-radius-large;
  padding: 0px 5%;
  padding-bottom: 15px;
  box-sizing: border-box;
  transition: box-shadow 200ms ease;
  @extend .hide-link-underline;
}

.work-item.no-image .work-item-container {
  padding-top: 10px;
}

.work-item:hover .work-item-container {
  box-shadow: 0px 2px 7px 0 rgba(0, 0, 0, 0.25);
}

.work-item-thumbnail {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  transform: translateY(0px);
  transition: transform 300ms ease-in-out;

  @extend .margin-center;
}

.work-item:not(.no-animation):hover .work-item-thumbnail {
  transform: translateY(-10px);
}

.work-item-thumbnail img {
  width: 100%;
  border-radius: $border-radius;
  margin-top: -20px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.15);
}

.work-item-info {
  position: relative;
  transform: translateY(0px);
  transition: transform 300ms ease-in-out;
}

.work-item:not(.no-animation):hover .work-item-info {
  transform: translateY(-5px);
}

.work-item-name {
  @extend .font-size-normal;
  @extend .font-color-dark;

  display: inline-block;
  position: relative;
  margin-top: 3px;
  margin-left: 4%;
}

.work-item-type {
  @extend .font-color-dark;

  color: rgba(140,140,140,0.6);
  position: absolute;
  top: 0;
  right: 4%;
  font-size: 13px;
  font-weight: $font-weight-bold;
}

.work-item-date {
  @extend .work-item-type;
  @extend .font-weight-light;

  top: 15px;
  font-weight: $font-weight-regular;
}

.work-view-more {
  display: none !important;
}
