<section class="section" id="me">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>About me</h2>
      </div>
    </div>

    <div class="row margin-bottom-big margin-top">
      <div class="col-3">
        <div class="quote-image">
          <img src="{{ "/public/images/me.jpg" | relative_url }}" class="full-width" alt="" />
        </div>
      </div>
      <div class="col-9 quote-container">
        <div class="quote-text">
          <p>
            I'm an 18 year old web developer living in Lübeck, Germany. I have a passion for programming and I love to learn about all things tech.
          </p>
          <p class="author">
            - Lukas von Mateffy
          </p>
        </div>
      </div>


      <!-- <div class="col-6">
        <p>Image of me</p>
      </div>
      <div class="col-6">
        <p>I'm a young Web Developer living in Lübeck, Germany. I have a passion for programming and I love to create for web and mobile devices.</p>
      </div> -->
    </div>
  </div>
</section>
