<nav class="navbar-top">
  <div class="row">
    <div class="col-4">
      <a href="{{site.github.url}}/" class="nav-title">Lukas von Mateffy</a>
    </div>
    <div class="col-8">
      <ul class="nav-list">
        <li><a href="{{site.github.url}}/#me" data-scroll>Me</a></li>
        <li><a href="{{site.github.url}}/#work" data-scroll>Work</a></li>
        <li><a href="{{site.github.url}}/#skills" data-scroll>Skills</a></li>
        <li><a href="{{site.github.url}}/#hire" data-scroll>Hire</a></li>
      </ul>
    </div>
  </div>
</nav>
