<div class="section" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Skills</h2>
      </div>
    </div>

    <div class="row margin-bottom-big">
      <div class="col-6">
        <p>
          Since 2010, I've been learning to use modern web technologies like Node.js and React, but I've also acquired multiple skills in using strong, established solutions like PHP and WordPress.
        </p>
        <p>
          I work using the best practices to ensure top quality and stability.
        </p>
        <div class="text-center">
          <a class="btn btn-primary margin-top" href="#">Download my Resume</a>
        </div>
      </div>
      <div class="col-6">
        <div class="skills">
          <div class="skills-center">
            <img src="public/images/logos/code.svg" alt="" />
          </div>
          <div class="skills-orbit">
            <img class="skills-logo" src="public/images/logos/react-logo.svg" alt="" />
          </div>
        </div>
        <!-- <div class="skill-block">
          <img class="skill-logo" src="public/images/logos/react-logo.svg" alt="React.js Framework Logo" style="
            left: 40px;
            height: 80px;
          "/>
          <img class="skill-logo" src="public/images/logos/laravel-logo.svg" alt="Laravel Framework Logo" style="
            left: 160px;
            top: 90px;
            height: 120px;
          "/>
          <img class="skill-logo" src="public/images/logos/nodejs-logo.svg" alt="Node.js Logo" style="
            left: 20px;
            top: 70px;
            height: 130px;
          "/>
          <img class="skill-logo" src="public/images/logos/vuejs-logo.svg" alt="Vue.js Logo" style="
            left: 275px;
            top: 50px;
            height: 70px;
          "/>
          <img class="skill-logo" src="public/images/logos/wordpress-logo.svg" alt="WordPress Logo" style="
            left: 250px;
            top: 220px;
          "/>
          <img class="skill-logo" src="public/images/logos/js-logo.svg" alt="JavaScript Logo" style="
            left: 60px;
            top: 200px;
          "/>
          <img class="skill-logo" src="public/images/logos/html-logo.svg" alt="HTML Logo" style="
            left: 170px;
            height: 65px;"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
