<section class="section" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Skills</h2>
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-6">
        <p>
          Since 2010, I've been learning to use modern web technologies like Node.js and React, but I've also acquired multiple skills in using strong, established solutions like PHP and Content-Management-Systems like WordPress.
        </p>
        <p>
          I work using the best practices to ensure top quality and stability.
        </p>
        <!-- <div class="text-center">
          <a class="btn btn-primary margin-top" href="#">Download my Resume</a>
        </div> -->
      </div>
      <div class="col-6">
        <div class="skills">
          <div class="skills-center">
            <img src="{{site.github.url}}/public/images/logos/laptop.svg" alt="" />
          </div>
          <div class="skills-logos">
            <img class="skills-logo" style="
              width: 75px;
              left: 12.5px;
            " src="{{site.github.url}}/public/images/logos/vuejs-logo.svg" alt="" />

            <img class="skills-logo" style="
              animation-delay: 3s;
            " src="{{site.github.url}}/public/images/logos/react-logo.svg" alt="" />

            <img class="skills-logo" style="
              animation-delay: 6s;
              height: 120px;
              width: 120px;
              left: -10px;
              top: -10px;
            " src="{{site.github.url}}/public/images/logos/nodejs-logo.svg" alt="" />

            <img class="skills-logo" style="
              animation-delay: 9s;
              width: 80px;
              left: 10px;
            " src="{{site.github.url}}/public/images/logos/js-logo.svg" alt="" />

            <img class="skills-logo" style="
              animation-delay: 12s;
              width: 140px;
              height: 140px;
              top: -20px;
              left: -20px;
            " src="{{site.github.url}}/public/images/logos/laravel-logo.svg" alt="" />

            <img class="skills-logo" style="
              animation-delay: 15s;
              width: 85px;
              left: 7.5px;
            " src="{{site.github.url}}/public/images/logos/wordpress-logo.svg" alt="" />

          </div>
        </div>
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-6">
        <h3 class="text-center">Languages</h3>
        <div class="skill-bar-blue">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 100%">
            <span class="skill-bar-label">HTML</span>
            <span class="skill-bar-value">100%</span>
          </div>
        </div>
        <div class="skill-bar-blue">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 90%">
            <span class="skill-bar-label">CSS / SCSS</span>
            <span class="skill-bar-value">90%</span>
          </div>
        </div>
        <div class="skill-bar-yellow">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 95%">
            <span class="skill-bar-label">JavaScript (ES6)</span>
            <span class="skill-bar-value">95%</span>
          </div>
        </div>
        <div class="skill-bar-accent">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 80%">
            <span class="skill-bar-label">PHP</span>
            <span class="skill-bar-value">80%</span>
          </div>
        </div>
      </div>

      <div class="col-6">
        <h3 class="text-center">Frameworks</h3>
        <div class="skill-bar-yellow">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 90%">
            <span class="skill-bar-label">Node</span>
            <span class="skill-bar-value">90%</span>
          </div>
        </div>
        <div class="skill-bar-yellow">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 90%">
            <span class="skill-bar-label">React</span>
            <span class="skill-bar-value">90%</span>
          </div>
        </div>
        <div class="skill-bar-yellow">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 70%">
            <span class="skill-bar-label">Vue</span>
            <span class="skill-bar-value">70%</span>
          </div>
        </div>
        <div class="skill-bar-accent">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 75%">
            <span class="skill-bar-label">Laravel</span>
            <span class="skill-bar-value">75%</span>
          </div>
        </div>
        <div class="skill-bar-accent">
          <div class="skill-bar-bg"></div>
          <div class="skill-bar" style="width: 90%">
            <span class="skill-bar-label">WordPress</span>
            <span class="skill-bar-value">90%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
