
<section class="section section-accent-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="slider" id="project-slider">
          <div class="slider-action slider-action-next">
            >
          </div>
          <div class="slider-action slider-action-prev">
            <
          </div>

          <div class="slider-slides">
            {% for slide in page.project.slides %}
              <div class="slider-slide">
                <img src="{{ '/' | append: page.slug | append: '/' | append: slide | relative_url }}" alt="The project displayed inside a device." />
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
