<div class="section section-accent" id="work">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Work</h2>
      </div>
    </div>

    <div class="row margin-bottom-big work-items">

      {% for project in site.projects %}

          <div class="col-4 ">
            <div class="work-item">
              <a class="work-item-container" href="{{ site.github.url | append: "/" | append: project.slug | relative_url}}">
                <div class="work-item-thumbnail">
                  <img src="{{ site.github.url | append: project.slug | append: '/thumbnail.png' | relative_url }}" />
                </div>
                <div class="work-item-info">
                  <span class="work-item-name">{{project.project.name}}</span>
                  <span class="work-item-type">{{project.project.platform}}</span>
                  <span class="work-item-date">{{project.project.year}}</span>
                </div>
              </a>
            </div>
          </div>

      {% endfor %}

      <div class="col-12 ">
        <button class="btn text-center full-width margin-top work-view-more " id="view-more-work-button">
          View more
        </button>
      </div>

    </div>
  </div>
</div>
