@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply .z-10;
}

.container {
  @apply .relative .px-5;
}

.header-background {
  @apply .absolute .inset-0 .z-0 .pointer-events-none .h-screen;
  background-image: url("/assets/images/bg-solid.svg");
}

.header-background::after {
  content: " ";
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  position: absolute;
  width: 100%;
  height: 100vh;
}

.hover-scale {
  transition: transform 200ms ease;
}

.hover-scale:hover {
  transform: scale(1.04);
}

.smooth-transition {
  transition: all 200ms ease;
}

.opacity-transition {
  transition: opacity 200ms ease;
}

.filter-shadow {
  filter: drop-shadow(0px 1px 3px #d5d5d5);
}

table th {
  @apply .font-semibold;
}

a:not(.no-link-border) {
  @apply .border-b-2 .border-gray-500;
}

.markdown {
  @apply leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-3xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2 text-gray-900;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-1;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

.blinking {
  -webkit-animation: 2s blink step-end infinite;
  -moz-animation: 2s blink step-end infinite;
  -ms-animation: 2s blink step-end infinite;
  -o-animation: 2s blink step-end infinite;
  animation: 2s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.75s forwards;
  will-change: filter;
}

.fade-out .fade-in {
  animation: fadeIn 0.75s backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
  }
}

.delay-100 {
  animation-delay: 25ms;
}

.delay-200 {
  animation-delay: 50ms;
}

.delay-300 {
  animation-delay: 75ms;
}

.delay-400 {
  animation-delay: 150ms;
}

.delay-500 {
  animation-delay: 175ms;
}

.delay-600 {
  animation-delay: 200ms;
}

.delay-700 {
  animation-delay: 225ms;
}

.delay-750 {
  animation-delay: 250ms;
}

.delay-800 {
  animation-delay: 300ms;
}
