---
layout: base
---
<div class="header-background"></div>

<header class="container flex justify-between items-center w-full py-8">
	<a class="text-xl font-semibold" href="/">Lukas Mateffy</a>
	<nav class="flex text-sm">
		<!-- <a class="mr-5" href="/about">About Me</a> -->
		<a class="mr-5" href="/projects">Projects</a>
		<!-- <a class="mr-5" href="/blog">Blog</a> -->
		<a class="mr-5" href="https://twitter.com/capevace">Twitter</a>
		<a href="https://github.com/capevace">GitHub</a>
	</nav>
</header>

{{ content }}

<footer class="container text-center py-6 flex justify-center text-xs text-gray-800">
	<a href="/disclaimer">Disclaimer</a>
	<span class="mx-2">&centerdot;</span>
	<a href="https://twitter.com/capevace">Twitter</a>
	<span class="mx-2">&centerdot;</span>
	<a href="https://GitHub.com/capevace">GitHub</a>
</footer>