---
layout: default
---

<div class="container mx-auto px-5" style="max-width: 750px;">
  <section class="w-full mt-5 mb-10">
    {% if page.hideImage != true %}
    <img
      src="{{ '/' | append: page.slug | append: '/icon.png' | relative_url }}"
      class="max-w-2 m-auto filter-shadow fade-in"
      width="200px"
    />
    {% endif %}
  </section>
  <section class="w-full m-auto mb-10 text-gray-900">
    <h1 class="font-bold text-4xl text-center fade-in">
      {{page.title}}
    </h1>
    <h2
      class="font-semibold text-gray-600 text-3xl text-center fade-in delay-300"
    >
      {{page.subtitle}}
    </h2>
  </section>
  {% if page.appStoreLink or page.downloadLink or page.sourceLink or
  page.visitLink or page.githubLink or page.buyLink %}
  <section class="w-full flex mb-20 justify-center fade-in delay-500">
    {% if page.buyLink %}
    <a
      href="{{page.buyLink}}"
      class="mx-2 no-link-border"
      style="width: 135px; height: 40px; background: url({{ '/public/images/buy-button.svg' | relative_url }}) no-repeat;"
      target="_blank"
    ></a>
    {% endif %} {% if page.appStoreLink %}
    <a
      href="{{page.appStoreLink}}"
      class="mx-2 no-link-border"
      style="width: 135px; height: 40px; background: url({{ '/public/images/appstore-button.svg' | relative_url }}) no-repeat;"
      target="_blank"
    ></a>
    {% endif %} {% if page.visitLink %}
    <a
      href="{{page.visitLink}}"
      class="mx-2 no-link-border"
      style="width: 135px; height: 40px; background: url({{ '/public/images/visit-button.svg' | relative_url }}) no-repeat;"
      target="_blank"
    ></a>
    {% endif %} {% if page.downloadLink %}
    <a
      href="{{page.downloadLink}}"
      class="mx-2 no-link-border"
      style="width: 135px; height: 40px; background: url({{ '/public/images/download-button.svg' | relative_url }}) no-repeat;"
      target="_blank"
    ></a>
    {% endif %} {% if page.githubLink %}
    <a
      href="{{page.githubLink}}"
      class="mx-2 no-link-border"
      style="width: 135px; height: 40px; background: url({{ '/public/images/github-button.svg' | relative_url }}) no-repeat;"
      target="_blank"
    ></a>
    {% endif %}
  </section>
  {% endif %}
  <section class="w-full m-auto mb-16 text-gray-800 markdown fade-in delay-750">
    {{ content }}
  </section>

  {% if page.project.slides %}
  <section class="w-full flex mb-16 fade-in delay-750" id="project-slider">
    <div class="slider-slides relative w-full">
      {% for slide in page.project.slides %}
      <img
        class="slider-slide opacity-transition w-full flex absolute inset-0"
        src="{{ '/' | append: page.slug | append: '/' | append: slide | relative_url }}"
        alt="The project displayed inside a device."
      />
      {% endfor %}

      <img
        class="w-full opacity-0"
        src="{{ '/' | append: page.slug | append: '/' | append: page.project.slides[0] | relative_url }}"
      />
    </div>
  </section>
  {% endif %}

  <div
    class="w-full flex flex-wrap md:flex-no-wrap m-auto mb-20 text-gray-800 fade-in delay-750"
  >
    {% if page.changelog %}
    <section class="flex-1 mb-5">
      <h3 class="font-semibold text-2xl mb-3 text-gray-900">Changelog</h3>
      {% for log in page.changelog %}
      <h4 class="font-bold text-xl mb-1">
        <span href="{{page.githubLink}}/releases/tag/{{log.version}}">
          {{log.version}}
        </span>

        {% if log.name %}
        <span class="font-medium">– {{log.name}}</span>
        {% endif %}
      </h4>
      <ul class="list-inside list-disc mb-5">
        {% for change in log.changes %}
        <li>{{change}}</li>
        {% endfor change in log.changes %}
      </ul>
      {% endfor %}
    </section>
    {% endif %} {% if page.project %}
    <section class="w-full md:w-1/3">
      <h3 class="font-semibold text-2xl mb-3 text-gray-900">Meta</h3>
      <table class="text-left">
        {% if page.project.client %}
        <tr>
          <th valign="top" class="pr-5">Client:</th>
          <td valign="top">{{page.project.client}}</td>
        </tr>
        {% endif %}
        <tr>
          {% if page.project.year %}
        </tr>

        <tr>
          <th valign="top" class="pr-5">Year:</th>
          <td valign="top">{{page.project.year}}</td>
        </tr>
        {% endif %} {% if page.project.platform %}
        <tr>
          <th valign="top" class="pr-5">Platform:</th>
          <td valign="top">{{page.project.platform}}</td>
        </tr>
        {% endif %} {% if page.project.tech %}
        <tr>
          <th valign="top" class="pr-5">Tech:</th>
          <td valign="top">{{page.project.tech}}</td>
        </tr>
        {% endif %}
      </table>
    </section>
    {% endif %}
  </div>
</div>
