---
layout: default
---
<div class="container flex flex-wrap sm:flex-no-wrap justify-between">
	<aside class="w-full sm:w-1/3 flex-shrink-0">
		<h1 class="text-4xl font-bold mb-5 leading-tight">{{page.title}}</h1>

		{{ content }}

		<p class="my-5">
			{% if page.project.client %}
				<span class="font-semibold">Client: </span> {{page.project.client}}
				<br />
			{% endif %}

			{% if page.project.platform %}
				<span class="font-semibold">Platform: </span> {{page.project.platform}}
				<br />
			{% endif %}

			{% if page.project.year %}
				<span class="font-semibold">Date: </span> {{page.project.year}}
				<br />
			{% endif %}

			{% if page.project.tech %}
				<span class="font-semibold">Tech: </span> {{page.project.tech}}
				<br />
			{% endif %}
		</p>

		{% if page.project.url %}
			{% if page.project.urlTitle %}
				<a class="mt-5 mb-8 block text-center rounded-lg bg-blue-500 px-8 py-2 text-white shadow-blue pointer" href="{{page.project.url}}" target="_blank">{{page.project.urlTitle}}</a>
			{% else %}
				<a class="mt-5 mb-8 block text-center rounded-lg bg-blue-500 px-8 py-2 text-white shadow-blue pointer" href="{{page.project.url}}" target="_blank">Visit Project</a>
			{% endif %}
		{% endif %}
	</aside>
	<section class="w-full flex" id="project-slider">
		<!-- <div class="slider-action slider-action-next">
			>
		</div>
		<div class="slider-action slider-action-prev">
			<
		</div> -->

		<div class="slider-slides relative w-full">
			{% for slide in page.project.slides %}
				<img class="slider-slide opacity-transition w-full flex absolute inset-0" src="{{ '/' | append: page.slug | append: '/' | append: slide | relative_url }}" alt="The project displayed inside a device." />
			{% endfor %}

			<img class="w-full opacity-0" src="{{ '/' | append: page.slug | append: '/' | append: page.project.slides[0] | relative_url }}" />
		</div>
	</section>
</div>

<!-- <code class="block w-full my-5 bg-gray-900 rounded-lg p-5 text-white">npm install my-package --save</code> -->
</div>

