---
layout: default
header_color: 'accent'
---

  {% if page.project.slides %}
    {% include slider.html %}
  {% endif %}

  <section class="section">
    <div class="container margin-bottom">
      <div class="row">
        <div class="col-12">
          <h2 style="{{page.project.titleStyle}}">{{page.project.name}}</h2>
        </div>
        <div class="col-4">
          <p>
            {% if page.project.client %}
              <b>Client: </b> {{page.project.client}}
              <br />
            {% endif %}

            {% if page.project.platform %}
              <b>Platform: </b> {{page.project.platform}}
              <br />
            {% endif %}

            {% if page.project.year %}
              <b>Date: </b> {{page.project.year}}
              <br />
            {% endif %}

            {% if page.project.tech %}
              <b>Tech: </b> {{page.project.tech}}
              <br />
            {% endif %}
          </p>

          {% if page.project.url %}
            <p>
              <a class="font-weight-bold" href="{{page.project.url}}" target="_blank">Visit Project</a>
            </p>
          {% endif %}
        </div>
        <div class="col-8">
          <p>
            {{content}}
          </p>
        </div>
      </div>
    </div>
  </section>
