---
layout: default
---
<div class="container my-6 mb-10">
	<h1 class="text-4xl font-bold mb-2 leading-tight">{{page.title}}</h1>
	<section class="flex justify-between mb-5">
		<p class="font-semibold text-gray-600">{{page.date | date_to_long_string }} &centerdot; 5 min read</p>
		<!-- <div class="flex">
			<p class="font-semibold text-gray-400 bg-gray-900 rounded-lg px-2 py-1 text-xs ml-2">#trash</p>
			<p class="font-semibold text-gray-400 bg-gray-900 rounded-lg px-2 py-1 text-xs ml-2">#sth</p>
		</div> -->
	</section>

	{{ content }}

	<!-- <code class="block w-full my-5 bg-gray-900 rounded-lg p-5 text-white">npm install my-package --save</code> -->
</div>
